<article class="scrollable">
    {{{notes}}}
</article>
<footer class="sheet-footer">
    {{#if requiresManualInstall}}
    <p>{{{ localize "ERROR.UpdateRequiresManualInstall" version=version }}}</p>
    <p>{{ localize "SETUP.UpdateNewGenerationHint" }}</p>
    {{/if}}
    <p>
        {{{localize "SETUP.FullListOfReleaseNotes" url='<a href="https://foundryvtt.com/releases/" target="_blank">https://foundryvtt.com/releases/</a>'}}}
    </p>
    {{#if canCheckCompatibility}}
    <p>{{ localize "SETUP.UpdatePreviewCompatibilityHint" version=version }}</p>
    {{/if}}
    <div class="flexrow buttons">
        <button type="button" data-action="createSnapshot">
            <i class="fas fa-camera-retro"></i>
            <span>{{ localize "SETUP.BACKUPS.CreateSnapshot" }}</span>
        </button>
        {{#if canCheckCompatibility}}
        <button type="button" data-action="checkCompatibility">
            <i class="fas fa-code-branch"></i>
            <span>{{ localize "SETUP.PreviewCompatibility" }}</span>
        </button>
        {{/if}}
        {{#unless requiresManualInstall}}
        <button type="button" class="bright" data-action="update">
            <i class="fa fa-cloud-download-alt"></i>
            <label>{{localize "SETUP.BeginDownload"}}</label>
        </button>
        {{/unless}}
    </div>
</footer>
