<form class="standard-form" method="POST" autocomplete="off" enctype="multipart/form-data" novalidate>
    <div class="form-group">
        <label>{{ localize "WORLD.Title" }}</label>
        <div class="form-fields">
            <input type="text" name="title" value="{{world.title}}" placeholder="{{ localize "WORLD.Title" }}" required/>
        </div>
    </div>

    {{#unless inWorld}}
    <div class="form-group">
        <label>{{ localize "WORLD.DataPath" }}</label>
        <div class="form-fields">
            <input type="text" name="path" value="Data/worlds/" disabled/>
            <input type="text" name="id" value="{{world.id}}" placeholder="world-name" {{#if isCreate}}required{{else}}disabled{{/if}}/>
        </div>
    </div>
    {{/unless}}

    {{#unless inWorld}}
    <div class="form-group">
        <label>{{ localize "WORLD.GameSystem" }}</label>
        <div class="form-fields">
            <select name="system" {{#if isCreate}}required{{else}}disabled{{/if}}>
                {{selectOptions systems selected=world.system blank="" valueAttr="id" labelAttr="title"}}
            </select>
        </div>
    </div>
    {{/unless}}

    <div class="form-group banner-image">
        <label>{{ localize "WORLD.BackgroundImage" }}</label>
        <div class="form-fields">
            <file-picker name="background" type="image" value="{{world.background}}"></file-picker>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "WORLD.JoinTheme" }}</label>
        <div class="form-fields">
            <select name="joinTheme">
                {{selectOptions themes selected=world.joinTheme localize=true}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "WORLD.NextSession" }}</label>
        <div class="form-fields">
            <input type="date" name="nextSession" value="{{ nextDate }}">
            <input type="time" name="nextSession" value="{{ nextTime }}">
        </div>
    </div>

    {{#if showEditFields}}
    <div class="form-group">
        <label>{{ localize "WORLD.ResetKeys" }}</label>
        <div class="form-fields">
            <input type="checkbox" name="resetKeys">
        </div>
    </div>

    <div class="form-group">
        <label data-tooltip="{{ localize 'WORLD.SafeModeHint' }}">
            {{ localize "WORLD.LaunchSafeMode" }}
            <a href="{{ worldKbUrl }}"><i class="fas fa-question-circle"></i></a>
        </label>
        <div class="form-fields">
            <input type="checkbox" name="safeMode">
        </div>
    </div>
    {{/if}}

    <div class="form-group stacked">
        <label class="world-desc">{{ localize "WORLD.Description" }}</label>
        {{editor world.description target="description" button=false engine="prosemirror" collaborate=false}}
    </div>

    <footer class="form-footer">
        <button type="submit" class="bright">
            <i class="fas fa-globe"></i>
            <span>{{submitText}}</span>
        </button>
    </footer>
</form>
